{% extends 'base.html' %}
{% block title %}Accueil | Plateforme Fast-Nati{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="h3 mb-4">Faites vos demandes d'attestations ou diplômes en ligne</h1>
    <section class="hoverTextHero mb-4">
        <h5 class="mb-3">Évitez les déplacements inutiles et gagnez du temps grâce à notre plateforme</h5>
        <a href="{% url 'connecter' %}" class="btn btn-primary mb-2">Se Connecter</a>
        <p>Si vous n'avez pas de compte <a href="{% url 'inscription' %}" class="text-primary">Inscrivez-vous</a></p>
    </section>
    <a href="{% url 'contact' %}" class="btn btn-outline-primary">Signalez un Problème</a>
</div>
{% endblock %}