{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plateforme Fast-Nati{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}

    <main class="container mt-5">
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}vert{% else %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}

    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>